@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252A;
}

li,
a,
p,
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #edf0f1;
  text-decoration: none;
}

/*header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.nav_link {
  list-style: none;
}

.nav_link li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_link li a {
  transition: all 0.3s ease 0s;
}

.nav_link li a:hover {
  color: #0088a9;
  cursor: pointer;
}

/*header*/

/*profile*/
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2rem;
  margin-left: 125px;
  padding: 50px;
  align-items: center;
}

.deskripsi h2 {
  display: block;
  box-sizing: border-box;
  font-size: 32px;
}

.deskripsi p {
  display: block;
  box-sizing: border-box;
  margin-top: 25px;
}

.foto img {
  float: left;
  display: block;
  text-align: center;
  box-sizing: border-box;
  border-radius: 50%;
}

/*profile*/

/*about*/
.tentang-saya {
  display: block;
  margin: 0px 100px;
  padding: 50px;
}

.tentang-saya h2 {
  display: block;
  box-sizing: border-box;
  font-size: 32px;
  margin-top: 32px;
}

.tentang-saya p {
  display: block;
  box-sizing: border-box;
  margin: 12px 0px;
  text-align: justify;
}

/*about*/


/*blog*/
.site-container {
  margin: 2rem auto;
  max-width: calc(100% - 80px);
}

.article-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
  gap: 2rem;
}

.article-image {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.article-image img {
  max-width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}

.article-card {
  background: #24252A;
  background-color: #24252A;
  border-radius: 20px;
  transition: 0.3s;
}

.article-card:hover {
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transform: translateY(-0.5%);
}

.article-content {
  padding: 2rem;
}

.article-content .card-category {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  color: #6b82a7;
  display: block;
  text-decoration: none;
}

.article-content .card-title {
  margin: 1rem 0;
  color: #22447b;
}

.article-content .card-content {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #6b82a7;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .site-container {
    max-width: 608px;
  }
}

@media screen and (min-width: 1280px) {
  .site-container {
    max-width: 1156px;
  }
}

/*blog*/

/*porfolio*/
.skill {
  display: block;
  margin: 0px 100px;
  padding: 50px;
  align-items: center;
}

.skill h1 {
  display: block;
  padding: 12px 0px;
  font-size: 32px;
  align-items: center;
}

.skill li {
  display: block;
  padding: 12px 0px;
  align-items: center;
}

.project {
  display: block;
  margin: 0px 100px;
  padding: 50px;
  align-items: center;
}

.project h1 {
  display: block;
  padding: 12px 0px;
  font-size: 32px;
  align-items: center;
}

.wrap span {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  display: flexbox;
  color: #edf0f1;
  padding: 5px;
  background-color: #161616;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 32px;
}

/*porfolio*/

/*footer*/
footer {
  padding: 40px 0px;
  background-color: #161616;
}

.sosial {
  text-align: center;
  padding-bottom: 25px;
  background-color: #161616;
  border-radius: 50%;
  color: #edf0f1;
}

.sosial a {
  font-size: 40px;
  color: inherit;
  width: 60px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0px 8px;
  opacity: 0.75;
}

.sosial a:hover {
  opacity: 1.5;
}

.list {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
  background-color: #161616;
}

.list li {
  display: inline-block;
  padding: 0px 15px;
  background-color: #161616;
}

.list li a {
  color: inherit;
  background-color: #161616;
  color: #edf0f1;
  opacity: 0.8;
}

.list li a:hover {
  opacity: 1.5;
}

.copyright {
  background-color: #161616;
  margin-top: 15px;
  text-align: center;
  font-size: 10px;
  color: #aaa;
}

/*footer*/